.center {
  text-align: center;
  color: white;
}
#titlemain {
  text-align: center;
  border: 2px solid white;
  color: white;
}
#links {
  text-align: center;
}
#righttitle {
  float: right;
  width: 400px;
  color: white;
}
#righttext {
  float: right;
  width: 400px;
  color: white;
}
#lefttitle {
  width: 400px;
  color: white;
}
#lefttext {
  width: 400px;
  color: white;
}

.nav-h,
.nav-v {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: fit-content;
  border: 3px solid lightblue;
}
.nav-h {
  background-color: rgb(233, 164, 73);
  text-align: center;
}
.nav-h li {
  float: left;
}


li a {
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}

li a:hover {
  background-color: hotpink;
}

.active {
  background-color: purple;
}

.header-a {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 45%;
  display: inline;
  margin: 8px;
  background-color: lightblue;
}
.general-text {color: white;}
.general-text a {color: white}
.general-text a:hover {color: hotpink;}